body {
  height: 100vh;
  padding: 0;
  margin: 5rem 0 0 0;
  background-size: auto auto;
  /* background-color: rgba(200, 249, 252, 1);
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 24px, rgba(144, 195, 230, 1) 24px, rgba(144, 195, 230, 1) 48px ); */
  background-color: #e2eaee;
}

@keyframes anime_stripe_1 {
  /* 0% {  background-position-x: 0;}
  100% {  background-position-x: -100vw;} */
}

::placeholder {
  color: #ef9292;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.emoji {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  line-height: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -2rem;
}

.wrap {
  margin: auto;
  padding: 15px;
  border-radius: 0 0 4px 4px;
  background: #ef9292;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #fff;
  position: relative;
  width: 100%;
  z-index: 0;
}

.wrap:before {
  position: absolute;
  content: '';
  width: 90%;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 20px dotted #e2eaee;
}

.wrap:after {
  position: absolute;
  content: '';
  width: 95%;
  height: 98%;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2%;
  margin: auto;
  z-index: -1;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ffcccc;
}

.couner {
  background: #fff;
  padding: 3px 0;
  border-radius: 50px;
  color: #ef9292;
  margin-right: 9px;
}

.fa-chevron-left,
.fa-chevron-right {
    padding: 0 14px 0
}

.couner_wrap {
  display: flex;
  align-items: center;
}

.couner span {
  color: #ef9292;
  font-size: 14px;
  font-weight: bold;
}

ul {
  margin: 2rem auto;
  padding: 0;
  width: 84%;
}

.addBtn {
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #ef9292;
  font-size: 23px;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 7px;
  line-height: 1;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: none;
  border-radius: 50px;
  padding: 7px 12px;
  width: 65%;
  font-size: 18px;
}

input[type=checkbox] {
  appearance: none;
  position: relative;
}

input[type=checkbox]:before {    
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -27px;
  background-color: #fff;
  top: -4px;
  bottom: 0;
  margin: auto;
}

input[type=checkbox]:checked:after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;     
  height:5px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color:  #ef9292;
  transform: rotate(-45deg);
  top: -2px;         
  left: -22px;
  margin-top: -5px;
}

label {
  padding-left: 23px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
      max-width: 330px;
  }
}


